# Ignore Gradle project-specific cache directory# Gradle
.gradle/
build/
app/ledger.dat
# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Neovim
.nvim/

#class files
bin/
*.class 

# OS
.DS_Store
Thumbs.db
